# EasyPass Pipeline
trigger:
  branches:
    include:
    - '*'

pool:
  vmImage: 'ubuntu-latest'

jobs:
 - job: Test_WebService
   displayName: "Test_WebService"
   steps:
    - template: _azure-pipelines/rust.yml
      parameters:
        toolchain: nightly
    - template: _azure-pipelines/geckodriver.yml
    - template: _azure-pipelines/wasm-pack.yml

    - task: Gradle@2
      inputs:
        gradleWrapperFile: '$(Build.SourcesDirectory)/WebService/gradlew'
        workingDirectory: '$(Build.SourcesDirectory)/WebService'
        tasks: 'wasmBuild'
        publishJUnitResults: false
        javaHomeOption: 'JDKVersion'
        sonarQubeRunAnalysis: false
      displayName: 'Building WebAssembly'

    - script: |
        cd $(Build.SourcesDirectory)/WebService/src/main/rust
        wasm-pack test --headless --firefox
      displayName: 'Testing WebAssembly'
    - task: Gradle@2
      inputs:
        gradleWrapperFile: '$(Build.SourcesDirectory)/WebService/gradlew'
        workingDirectory: '$(Build.SourcesDirectory)/WebService'
        tasks: 'build appInstall appBuild appCopy'
        publishJUnitResults: false
        javaHomeOption: 'JDKVersion'
        sonarQubeRunAnalysis: false
      displayName: Building Spring with React
    - task: Gradle@2
      inputs:
        gradleWrapperFile: '$(Build.SourcesDirectory)/WebService/gradlew'
        workingDirectory: '$(Build.SourcesDirectory)/WebService'
        tasks: 'appTest'
        publishJUnitResults: false
        javaHomeOption: 'JDKVersion'
        sonarQubeRunAnalysis: false
      displayName: Testing React 
    - task: Gradle@2
      inputs:
        gradleWrapperFile: '$(Build.SourcesDirectory)/WebService/gradlew'
        workingDirectory: '$(Build.SourcesDirectory)/WebService'
        tasks: 'test'
        publishJUnitResults: false
        javaHomeOption: 'JDKVersion'
        sonarQubeRunAnalysis: false
      displayName: Testing Spring

 - job: Test_AuthService
   displayName: "Test_AuthService"
   steps:
    - task: Gradle@2
      inputs:
        gradleWrapperFile: '$(Build.SourcesDirectory)/AuthService/gradlew'
        workingDirectory: '$(Build.SourcesDirectory)/AuthService'
        tasks: 'build'
        publishJUnitResults: false
        javaHomeOption: 'JDKVersion'
        sonarQubeRunAnalysis: false
      displayName: Building Spring 
    - task: Gradle@2
      inputs:
        gradleWrapperFile: '$(Build.SourcesDirectory)/AuthService/gradlew'
        workingDirectory: '$(Build.SourcesDirectory)/AuthService'
        tasks: 'test'
        publishJUnitResults: false
        javaHomeOption: 'JDKVersion'
        sonarQubeRunAnalysis: false
      displayName: Testing Spring

 - job: Test_DiscoveryService
   displayName: "Test_DiscoveryService"
   steps:
    - task: Gradle@2
      inputs:
        gradleWrapperFile: '$(Build.SourcesDirectory)/DiscoveryService/gradlew'
        workingDirectory: '$(Build.SourcesDirectory)/DiscoveryService'
        tasks: 'build'
        publishJUnitResults: false
        javaHomeOption: 'JDKVersion'
        sonarQubeRunAnalysis: false
      displayName: Building Spring 
    - task: Gradle@2
      inputs:
        gradleWrapperFile: '$(Build.SourcesDirectory)/DiscoveryService/gradlew'
        workingDirectory: '$(Build.SourcesDirectory)/DiscoveryService'
        tasks: 'test'
        publishJUnitResults: false
        javaHomeOption: 'JDKVersion'
        sonarQubeRunAnalysis: false
      displayName: Testing Spring
